# ignore all CocoaPods files
#
## we recommend against adding the Pods
.DS_Store
.bundle/
Pods/
docs/
vendor/
build/
builds/
xcschememanagement.plist
ModuleCache.noindex
UserInterfaceState.xcuserstate

# ignore all userdata
*xcuserdatad*
*xcshareddata*
# ignore some specific temp files
*.lock
*BACKUP*
*gitlab-ci_*
*.orig